html
  head
    meta(charset='UTF-8')
    link(rel='stylesheet' href='/drawv/stylesheets/drawv.css')
    script(src='/drawv/javascripts/pixi.min.js')
    script(src='/drawv/javascripts/drawv.js')
  body
    #areaMain
      h1 DrawV
      #areaHeader
        button#btnToGallery(onclick='navigateToGallery()') View Gallery
        button#btnSave(onclick='downloadImageAsPng()') Save
      #areaCanvasContainer
      #areaControls
        button#btnEraser(onclick='toggleEraser()') Eraser
        button#btnUndo(onclick='undo()') Undo
        button#btnSubmit(onclick='saveSketchToDatabase()') Submit
        button#btnClear(onclick='clearCanvas()') Clear
