extends layout

block scripts
  script(src='/drawv/javascripts/pixi.min.js')
  script(src='/drawv/javascripts/gallery.js')

block content
  #header
    h1= title
    button#btnToCanvas(onclick='navigateToCanvas()') Draw something!
  #navigation
    button#btnLoadMore(onclick='prev()') Prev
    button#btnLoadMore(onclick='next()') Next
  #overlay(onclick='toggleOverlay(event)')
    #areaInnerOverlay
      #areaHeaderLink(onclick='navigateToResponse(event)')
        h2#replayLink Test
      #areaHeaderTitle
        h2#replayTitle Test
      #areaReplayCanvas
      #areaControls
        button#btnRespond(onclick='navigateToCanvas()') Respond
        button#btnSave(onclick='downloadImageAsPng()') Save Image
      #areaResponses
        ul#responseList
  #areaCanvasContainer