extends layout

block scripts
  script(src='/javascripts/pixi.min.js')
  script(src='/javascripts/gallery.js')

block content
  h1= title
  button#btnOverlay(onclick='toggleOverlay(event)') Overlay
  #overlay(onclick='toggleOverlay(event)')
    #areaInnerOverlay
      #areaReplayCanvas
  #areaCanvasContainer
