extends layout

block scripts
  script(src='/drawv/javascripts/pixi.min.js')
  script(src='/drawv/javascripts/gallery.js')

block content
  #header
    h1= title
    button#btnToCanvas(onclick='navigateToCanvas()') Draw something!
  #overlay(onclick='toggleOverlay(event)')
    #areaInnerOverlay
      #areaReplayCanvas
      #areaResponses
        ul#responseList
  #areaCanvasContainer
