body {
	background-color: rgb(155, 0, 0);
}

#canvasDraw {
	width: 600px;
	height: 500px;
	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

#areaCanvasContainer {
	border-style: solid;
	border-width: 1px;
	border-color: black;
}


#areaMain {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}

#areaControls {
	width: 100%;
	height: 50px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	background-color: grey;
	
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
}

button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
button:hover {
	background-color: #61c264;
}

button:active {
	background-color: #91dd93;
}

#btnClear {
	float: right;
}