body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#overlay {
	position: fixed; 
	display: none;
	width: 100%; 
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2; 
}

#areaInnerOverlay {
	margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 800px;
  margin-top: 50px;
	height: 70%;
}

#areaReplayCanvas {
	margin-left: auto;
  margin-right: auto;
  background-color: black;
  width: 600px;
	height: 500px;
  margin-top: 10px;
}