body {
  padding: 30px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#header, #navigation {
	margin-bottom: 10px;
}

#overlay {
	position: fixed; 
	display: none;
	width: 100%; 
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2; 
}

#areaInnerOverlay {
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	background-color: white;
	width: 700px;
	margin-top: 50px;
	/*height: 70%;*/
}

#areaHeaderTitle, #areaHeaderLink {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	margin-top: 10px;
	border: 1px black solid;
	background-color: white;
}

#areaHeaderLink {
	cursor: pointer;
}

#areaHeaderLink:hover {
	background-color: #ddecff;
}

#areaHeaderLink:active {
	background-color: white;
}

#areaReplayCanvas {
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	width: 600px;
	height: 500px;
	margin-top: 10px;
	border: 1px black solid;
}

#areaControls {
	margin-left: auto;
	margin-right: auto;
	width: 602px;
	margin-top: 10px;
}

#areaControls button{
	width: 295px;
}

#areaControls button:last-child{
	margin-left: 12px;
}

#areaResponses {
	margin-left: auto;
	margin-right: auto;
	width: 602px;
	margin-top: 10px;
	padding-bottom: 10px;
}

#responseList {
	list-style-type: none;
	list-style-position: outside;
	padding: 0;
	margin-top: 10px;
}

#responseList li {
	display: block;
	border: 1px black solid;
	padding: 10px;
	cursor: pointer;
	margin-bottom: 5px;
}

#responseList li:hover {
	background-color: #ddecff;
}

button {
	background-color: #ffffff;
	border: 1px black solid;
	color: rgb(0, 0, 0);
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 201px;
}
button:hover {
	background-color: #ddecff;
}

button:active {
	background-color: #ffffff;
}

#navigation button {
	margin-right: 10px;
}

h2 {
	padding: 10px;
	margin: 0px;
	font-size: 16px;
}